<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>
  <form>
    <label for="productName">Product Name:</label><br>
    <input type="text" id="productName" name="productName"><br>
    <label for="productDesc">Product Description:</label><br>
    <input type="text" id="productDesc" name="productDesc"><br>
    <label for="productPrice">Price:</label><br>
    <input type="number" id="productPrice" name="productPrice" min="0" step="0.01"><br><br>
    <input type="submit" value="Add Product">
  </form>
</body>
</html>
