<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>International Candy Emporium</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <div class="header">
        <div class="profile">
            <button class="circle-button" onclick="toggleDropdown()">NU</button>
            <div class="dropdown" id="dropdownMenu">
                <p onclick="openProfileSettings">Profile</p>
                <a href="/cart/">View Cart</a>
                <a href="/login/">Sign in</a>
                <a href="/login/">Log Out</a>
            </div>
        </div>
        <h1>International Candy Emporium</h1>
    </div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <button id="adminBtn" class="button">ADMIN</button>
        </div>
        <div class="products">
            <div th:if="${products.empty}">
                <p>No Products Available</p>
            </div>
            <div th:each="product : ${products}" class="product">
                <a th:href="@{'products/' + ${product.id}}">
                    <img class="view-product productImg" th:src="@{${product.imageUrl}}" alt="Product Image" onerror="this.src='missingCandy.webp'">
                </a>
                <p class="product-description" th:text="${product.name} + ' -- $' + ${product.price}">Product name, description</p>
                <div class="product-actions-container">
                        <div>
                            <a th:href="@{'products/edit/' + ${product.id}}">
                                <button class="edit-product product-actions">🖊️</button>
                            </a>
                        </div>

                        <div>
                            <button class="add-to-cart product-actions">+</button>
                        </div>
                </div>
            </div>
        </div>
                
    </div>
    <!-- Add Product Dialog Container -->
    <div id="addProductModal" class="modal">
    <!-- Add Product Dialog content -->
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <h2>Add Product</h2>
      <form th:action="@{/addProduct}" th:object="${product}" method="post">
        <!-- name -->
        <label for="name">Product Name:</label><br>
        <input type="text" th:field="*{name}"><br>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
        <!-- description -->
        <label for="description">Product Description:</label><br>
        <textarea rows="5" type="text" th:field="*{description}"></textarea><br>
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
        <!-- image -->
        <label for="imageUrl">Product Image URL:</label><br>
        <input type="url" th:field="*{imageUrl}"><br>
        <p th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}">Image Error</p>
        <!-- price -->
        <label for="price">Price:</label><br>
        <input type="number" th:field="*{price}" min="0" step="0.01"><br>
        <p th:if="${#fields.hasErrors('price')}" option value="0" th:errors="*{price}">Price Error</p>
        <!-- qty -->
        <label for="quantity">Quantity:</label><br>
        <input type="number" value="0" th:field="*{quantity}" min="0"><br><br>
        <p th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Qty Error</p>
        <!-- submit -->
        <div class="modal-buttons">
            <input class="button" type="submit" value="Save ">
        </div>
      </form>
    </div>
  </div>
    
    <script>
    //
        function toggleDropdown() {
            const dropdown = document.getElementById('dropdownMenu');
            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
        }
        // admin modal functionality
        var modal = document.getElementById("addProductModal");
        var btn = document.getElementById("adminBtn");
        var closeButtons = document.getElementsByClassName("close-button");

        btn.onclick = function() {
            modal.style.display = "block";
        }

        //close functionality for all modals
        var closeButtons = document.getElementsByClassName("close-button");

        for (let i = 0; i < closeButtons.length; i++) {
            closeButtons[i].onclick = function() {
                var modal = this.closest(".modal");
                if (modal) {
                    modal.style.display = "none";
                }
            };
        }

        // Clicking anywhere outside of any modal will close it
        window.onclick = function(e) {
            if (e.target.classList.contains('modal')) {
                e.target.style.display = "none";
            }
        };
    </script>
</body>
</html>
