<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>International Candy Emporium</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <div class="header">
        <div class="profile">
            <button class="circle-button" onclick="toggleDropdown()">NU</button>
            <div class="dropdown" id="dropdownMenu">
                <a href="/profile/">Profile</a>
                <a href="/cart/">View Cart</a>
                <a href="/login/">Sign in</a>
                <a href="/logout/">Log Out</a>
            </div>
        </div>
        <h1>International Candy Emporium</h1>
    </div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <a href="/admin"><button class="button">ADMIN</button></a>
        </div>
        <div class="products">
            <div th:if="${products.empty}">
                <p>No Products Available</p>
            </div>
            <div th:each="product : ${products}" class="product">
                <img class="productImg" th:src="@{${product.imageUrl}}" alt="Product Image" onerror="this.src='missingCandy.webp'">
                <p th:text="${product.name + ', ' + product.description + ' -- ' + product.price}">Product name, description</p>
            <div class="add-to-cart-container">
                <input class="quantity-select" type="number" min="1">
                <button class="add-to-cart">🛒</button>
            </div>
            </div>
        </div>        
    </div>
    <script>
      function toggleDropdown() {
          const dropdown = document.getElementById('dropdownMenu');
          dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
      }
    </script>
</body>
</html>
