<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="/style.css">
    <div class="header">
        <div class="profile">
            <button class="circle-button" onclick="toggleDropdown()">NU</button>
            <div class="dropdown" id="dropdownMenu">
                <a href="/profile/">Profile</a>
                <a href="/cart/">View Cart</a>
                <a href="/login/">Sign in</a>
                <a href="/logout/">Log Out</a>
            </div>
        </div>
        <h1>International Candy Emporium</h1>
    </div>
    <h2 th:text="${title}">This is my default text</h2><br/>
    <form action="#" th:action="@{processLogin}" th:object="${userModel}" method="post">
        <div>
            <td>User Name:</td><td><input type="text" th:field="*{username}"></td></br>
            <span style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">User Name Error</span>
        </div>

        <div>
            <td>Password:</td><td><input type="password" th:field="*{password}"></td></br>
            <span style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
        </div>    
        
        <button colspan="2"><input type="submit" value="Submit"></button>
    </form>
    <p>No account? Sign up <a href="/signup/">here</a></p>
</html>